<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>SISCAD - Lista Clientes</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Lista de clientes</h1>
    
    <table>
        <tbody>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Data de ingresso</th>
            </tr>  
        {% for cliente in clientes %}

            <tr>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.celular}}</td>
                <td>{{cliente.start_date}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p><a href="{% url 'core:add_cliente' %}">Adicionar cliente</a></p>
  </body>
</html>